PORT=3000

DATABASE_URL="postgresql://postgres:password@localhost:5433/ecommerce-db?schema=public"

JWT_SECRET = jwt_secret_here

CLIENT_URL=http://localhost:5173

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

RAZORPAY_KEY_ID=
RAZORPAY_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CALLBACK_URL=http://localhost:3000/api/v1/auth/facebook/callback

# For production
# GOOGLE_CALLBACK_URL=https://yourdomain.com/api/auth/google/callback
# FACEBOOK_CALLBACK_URL=https://yourdomain.com/api/auth/facebook/callback

#cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=