PORT=3000

DATABASE_URL="postgresql://postgres:password@localhost:5433/ecommerce-db?schema=public"

JWT_SECRET = jwt_secret_here

CLIENT_URL=http://localhost:5173

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

RAZORPAY_KEY_ID=
RAZORPAY_SECRET=